h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: x-large;
  color: #666;
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
}

.max-width {
  max-width: 1800px;
}

.stripes {
  border-radius: 10px 10px 0 0;
  height: 20px;
  background: repeating-linear-gradient(
    45deg,
    black,
    black 10px,
    white 10px,
    white 20px
  );
  opacity: 0.2;
}

#header {
  margin-bottom: 60px;
}

#filtros {
  position: relative;
  background: url(carros/camaro.jpg) center center;
  background-size: cover;
}

#filtros::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a3b63;
  filter: opacity(75%);
}

#filtros .row > :not(:first-child) {
  padding-left: 0;
}

#filtros input,
#filtros select,
#filtros button {
  font-size: small;
}
#filtros button {
  font-weight: bold;
}

main img {
  width: 100%;
}

main .card {
  overflow: hidden;
  border-radius: 8px;
}

main .card:not(:first-child) {
  margin-left: 30px;
}

#categorias a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 1.25rem;
  text-decoration: none;
  color: #fff;
  font-size: 180%;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

#recentes strong:last-child {
  font-size: 120%;
}

#recentes a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 1.25rem;
}
