:root {
  --navbar-height: 60px;
  --sidebar-width: 250px;
  --dark-gray: #333;
  --light-gray: #666;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  color: var(--dark-gray);
  font-size: 1.35rem;
  font-weight: bold;
}

.form-control,
.btn {
  font-size: 0.8rem;
  border-radius: 2px;
}

.btn {
  font-weight: bold;
}

.gutter-sm [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

#header {
  margin-bottom: var(--navbar-height);
}

#header img {
  height: 35px;
}

#header .busca input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 350px;
}

#header .busca button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#filtros {
  position: relative;
  background: url(images/camaro.jpg) center center;
  background-size: cover;
}

#filtros::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: opacity(75%);
  background-color: #1a3b63;
}

.stripes::before {
  content: '';
  border-radius: 10px 10px 0 0;
  margin-top: -16px;
  height: 15px;
  opacity: 0.15;
  background: repeating-linear-gradient(45deg, black, black 10px, white 10px, white 20px);
}

.card-link a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.categoria img {
  width: 100%;
}

.categoria .card {
  overflow: hidden;
  border-radius: 0.5rem;
}

.categoria a {
  font-size: 1.5rem;
  text-decoration: none;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.anuncio .card {
  overflow: hidden;
}

.anuncio .preco {
  font-size: 1.25rem;
}

#sidebar {
  position: fixed;
  margin-left: calc(var(--sidebar-width) * -1);
  padding-top: var(--navbar-height);
  width: var(--sidebar-width);
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: margin-left 0.5s;
}

#fotos {
  max-height: 390px;
  overflow: hidden;
  transition: margin-left 0.5s;
}

#fotos img {
  width: 100%;
  object-fit: cover;
}

#fotos-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: calc(50% - 1.5rem);
  left: 0;
  right: 0;
}

#fotos-nav button {
  height: 3rem;
  width: 3rem;
}

#detalhes .preco {
  font-size: 32px;
  line-height: 1.2;
}

#detalhes h2 {
  color: var(--light-gray);
  font-size: 1rem;
  font-weight: normal;
}

#detalhes h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

#detalhes .descricao,
#detalhes ul li {
  color: var(--light-gray);
}

.icone-chat-online {
  color: limegreen;
}

#chat .mensagens {
  background-color: #f6f6f6;
  font-size: 0.8rem;
  height: 250px;
  overflow-y: scroll;
}

#chat .form .form-control,
#chat .form .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media screen and (min-width: 576px) {
  #fotos img {
    width: calc(100vw / 2);
  }
}

@media screen and (min-width: 768px) {
  .categoria a {
    font-size: 1.5rem;
  }

  #sidebar {
    margin-left: 0;
  }

  #sidebar + main {
    margin-left: var(--sidebar-width);
  }

  #fotos img {
    width: calc(100vw / 3);
  }
}

@media screen and (min-width: 1024px) {
  .categoria a {
    font-size: 1.75rem;
  }
}
